*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: sans-serif;
}
header{
    width: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    z-index: 100;
}

#btn-menu{
    display: none;
}
header label{
    display: none;
    width: 60px;
    padding: 10px;
    color: #fff;
    font-size: 30px;
    transition: all 500ms ease;
}
header label:hover{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
.menu li a {
    text-decoration: none;
    color: #fff;
    display:block;
    padding: 15px 20px;
    transition: all 500ms ease;
}
.menu li a:hover{
 background-color: rgba(255,255,255,0.3);   
}
@media(max-width:768px){
	header label{
		display:block;
	}
	.menu{
		position:absolute;
		background:#234354;
		width:100%;
		margin-top:-100%;
		transition:all 0.6s;
	}
	.menu ul{
		flex-direction:column;
        border-top: 1px solid #fffa;
	}
	
	#btn-menu:checked ~ .menu{
		margin:0;
	}
}








body{

    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    background-repeat: repeat;
    background-size: 100%;
}
.services{
    
    text-align: center;
    margin-top: 1px;
}

.services h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 40px;
}
.cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.service{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
   
    
    
}

.service h2{
    display: inline-block;
    text-transform: uppercase;
 
    font-size: 20px;
    padding-bottom: 1px;
    margin-top: 40px;
    color: blue;
    
}

.service h3{
    color: black;
}

.service p{

    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}
.service img{
   
    width: 100%;
    height: 100%;

}
.service input{
    width: 40%;
    height: 50%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
   
}
.service button{
    width: 15%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    background-color: grey;

    
}

@media screen and (max-width: 800px){
    .service{
        width: 50%;
    }
}
@media screen and (max-width: 500px){
    .service{
        width: 100%;
    }
}



.service-achicar img{

width: 5%;
height: 5%;
}
.service i{
    font-size: 50px;
    margin-bottom: 4px;
    color: green;
}